* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: rgba(20, 29, 42, 0.85);
    --secondary-color: rgb(40, 49, 62);
}

html, body {
    background: rgba(0,0,0,0);
}